/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  border: 0px solid black;
}
html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 4.8rem;
}
h3 {
  font-size: 3rem;
}
h4 {
  font-size: 2rem;
}
nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-top: 21px;
  height: 142px;
}
@media (max-width: 1000px) {
  nav {
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}
nav a {
  text-decoration: none;
  font-size: 2rem;
  color: #1B1A1A;
  font-weight: 800;
  flex-basis: 50%;
  flex-basis: 10%;
  align-self: flex-start;
  margin-right: 40px;
}
@media (max-width: 1000px) {
  nav a {
    flex-basis: 15%;
  }
  nav a:nth-child(2) {
    margin-left: 3%;
  }
}
@media (max-width: 500px) {
  nav a {
    flex-basis: 24%;
  }
}
nav .nav-title {
  color: #1B1A1A;
  font-weight: 700;
  flex-basis: 50%;
  font-size: 6rem;
  flex-basis: 90%;
  margin-left: 3%;
}
@media (max-width: 1000px) {
  nav .nav-title {
    font-size: 5rem;
  }
}
@media (max-width: 500px) {
  nav .nav-title {
    flex-basis: 100%;
  }
}
header {
  overflow: hidden;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: #ffffff;
}
@media (max-width: 1000px) {
  header {
    background-color: lightblue;
  }
}
@media (max-width: 500px) {
  header {
    background-color: pink;
    position: static;
  }
}
header .accent {
  background-color: #FF9233;
  text-align: center;
  padding: 17px 0 22px 0;
  color: #FFFFFF;
  font-weight: 800;
  flex-basis: 50%;
}
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  margin: 0 auto;
  font-size: 1.6rem;
  background: #ffffff;
}
footer .footer-border {
  border-top: 1px solid #BDBDBD;
  box-shadow: 0px -4px 7px rgba(0, 0, 0, 0.5);
}
.main {
  margin-top: 250px;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-image: url(../img/fezbot2000-smWTOhdPvJc-unsplash.jpg);
  background-size: cover;
  background-position: bottom;
  align-content: flex-start;
  padding-bottom: 10px;
}
@media (max-width: 500px) {
  .main {
    margin-top: 0;
  }
}
.main h1 {
  color: #FFFFFF;
  font-weight: 700;
  flex-basis: 50%;
  font-size: 8.6rem;
  flex-basis: 66%;
  height: 16%;
  margin-top: 40px;
  margin-left: 20px;
  background-color: rgba(1, 1, 1, 0.2);
}
@media (max-width: 1000px) {
  .main h1 {
    font-size: 5.6rem;
    flex-basis: 100%;
    margin-left: 0;
    padding-left: 20px;
  }
}
@media (max-width: 500px) {
  .main h1 {
    font-size: 4.2rem;
  }
}
.main p {
  color: #FFFFFF;
  font-weight: 600;
  flex-basis: 50%;
  font-size: 2.4rem;
  flex-basis: 66%;
  margin-left: 20px;
  background-color: rgba(1, 1, 1, 0.2);
}
@media (max-width: 1000px) {
  .main p {
    flex-basis: 100%;
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.action-call {
  border-top: 20px solid #FF9233;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.action-call .container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.action-call .container .copy {
  width: 33%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
}
@media (max-width: 1000px) {
  .action-call .container .copy {
    width: 100%;
  }
}
.action-call .container .copy h3 {
  font-size: 4rem;
  text-emphasis: 700;
  padding: 10px;
  margin-bottom: 10px;
}
@media (max-width: 500px) {
  .action-call .container .copy h3 {
    font-size: 3.2rem;
  }
}
.action-call .container .copy p {
  font-size: 2.4rem;
  padding: 10px;
  flex: 1;
}
.action-call .container .copy a {
  display: block;
  height: 60px;
  width: 300px;
  text-align: center;
  background-color: #BDBDBD;
  font-size: 3rem;
  padding: 12px;
  border-radius: 5px;
  margin: 0 auto;
  align-self: flex-end;
  text-decoration: none;
  color: #1B1A1A;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .action-call .container .copy a {
    margin-top: 20px;
  }
}
@media (max-width: 500px) {
  .action-call .container .copy a {
    width: 95%;
    font-size: 2.6rem;
  }
}
.action-call .container .copy a:hover {
  background-color: #FF9233;
}
.action-call .container .image {
  width: 66%;
}
@media (max-width: 1000px) {
  .action-call .container .image {
    width: 100%;
  }
}
.action-call .container img {
  max-width: 100%;
  height: auto;
}
.action-call .left {
  border-bottom: 10px solid #FF9233;
  padding: 0;
}
@media (max-width: 1000px) {
  .action-call .left {
    flex-direction: column;
  }
}
.action-call .right {
  flex-direction: row-reverse;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .action-call .right {
    flex-direction: column;
  }
}
