.mission-main-section {
    margin-top: 240px;
    height: 600px;
    .flexbox(row, wrap, flex-start);
    background-image: url(../img/fezbot2000-smWTOhdPvJc-unsplash.jpg);
    background-size: cover;
    background-position: bottom;
    align-content: flex-start;
    padding-bottom: 10px;

    @media @phone {
        margin-top: 0;
    }


    h1 {
        .font-style(@contrast-text, 700);
        font-size: 8.6rem;
        flex-basis: 70%;
        height: 16%;
        margin-top: 40px;
        margin-left: 20px;
        background-color: rgba(.5, .5, .5, .2);
        padding: 20px;

        @media @tablet {
            font-size: 5.6rem;
            flex-basis: 100%;
            margin-left: 0;
        }
        @media @phone {
            font-size: 4.2rem;
        }
    }

    p {
        .font-style(@contrast-text, 600);
        font-size: 2.4rem;
        flex-basis: 70%;
        margin-left: 20px;
        background-color: rgba(.5, .5, .5, .2);
        padding: 20px;

        @media @tablet {
            flex-basis: 100%;
            margin-left: 0;
            font-size: 2.0rem;
        }
        @media @phone {
            font-size: 1.6rem;
        }
    }
}

.action-call {
    border-top: 40px solid @primary-color;
    .flexbox(column, nowrap, space-between);

    .container {
        .flexbox(row, nowrap, space-between);

        .copy {
            width: 33%;
            .flexbox(column, nowrap, space-around);
            padding: 20px;
            @media @tablet {
                width: 100%;
            }

            h3 {
                font-size: 4rem;
                text-emphasis: 700;
                padding: 10px;
                margin-bottom: 10px;
                @media @phone {
                    font-size: 3.2rem;
                }
            }
            p {
                font-size: 2.4rem;
                padding: 10px;
                flex: 1;
                @media @tablet {
                    font-size: 2.0rem;
                }
                @media @phone {
                    font-size: 1.6rem;
                }
            }
            a {
                display: block;
                height: 60px;
                width: 300px;
                text-align: center;
                background-color: @border-color;
                font-size: 3rem;
                padding: 12px 0;
                border-radius: 5px;
                margin: 0 auto;
                align-self: flex-end;
                text-decoration: none;
                color: @main-text;
                margin-bottom: 20px;

                @media @tablet {
                    margin-top: 20px;
                }
                @media @phone {
                    width: 95%;
                    font-size: 2.4rem;
                    padding: 16px 0;
                }

                &:hover {
                    background-color: @primary-color;
                }
            }
        }

        .image {
            width: 66%;
            @media @tablet {
                width: 100%;
            }
        }

        img {
            max-width: 100%;
            height: auto;
        }
    }
    .left {
        border-bottom: 40px solid @primary-color;
        padding: 0;
        @media @tablet {
            flex-direction: column;
        }
    }
    .right {
        flex-direction: row-reverse;
        margin-bottom: 20px;
        @media @tablet {
            flex-direction: column;
        }
    }
}
